:root {
    /*Text colors*/
    --main-txt-clr: #757575;
    --title-txt-clr: #212121;
    --accent-color: #2196F3;
    --secondary-txt-clr: #2196F3;
    --bcg-color: #2F303A;
    --primary-letter-spacing: 0.03em;
    --secondary-letter-spacing: 0.02em;
    --hero-letter-spacing: 0.06em;
}

.body {
    color: var(--primary-text-color);
    background-color: #fff;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: var(--primary-letter-spacing);
}

.logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;

}

.logo-accent {
    color: #212121;
}


h,
p {
    margin: 0;
}

:link {
    text-decoration: none;
    color: currentColor;
}

:link:hover {
    color: white;
}

.nav-list {
    list-style: none;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;

}

.nav-link:hover {
    color: #2196F3;
}

.nav-link:active {
    color: #2196F3;
}

.nav-link:focus {
    color: #2196F3;
}


.contacts-list {
    list-style: none;
}

.contacts-link-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;

}

.contacts-link-mail:hover {
    color: #2196F3;
}


.contacts-link-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    color: #757575;
}

.contacts-link-tel:hover {
    color: #2196F3;
}

.hero {

    background: #2F303A;
}

.title {
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.hero-button {
    cursor: pointer;
}

.hero-button:focus,
.hero-button:hover {
    background-color: blue;
}

.hero {
    margin: 0 auto 30px;

    letter-spacing: var(--hero-letter-spacing);
    font-weight: 900;
    font-size: 44px;
    max-width: 696px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.benefits-list {
    list-style: none;
}

.benefits-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    text-transform: uppercase;
}

.benefits-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7 color: #757575;
}

.activity {
    background: #E5E5E5;

}

.activity-list {
    list-style: none;
}

.title-activity {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
}

.team {
    background: #F5F4FA;
}

.team-list {
    list-style: none;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.subtitle-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #212121;
}

.team-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    background: #FFFFFF;
}

.footer {
    background: #2F303A;
}

.logo-link-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}

.logo-accent-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
}

.footer-contact-list {
    list-style: none;
}

.contacts-adress {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.contacts-link-mail-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-link-tel-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-link-tel-footer:hover {
    color: #2196F3;
}

.contacts-link-mail-footer:hover {
    color: #2196F3;
}

.main {
    background: #FFFFFF;
}


.button-filters {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: var(--primary-text-color);
    background: #F5F4FA;
    text-align: center;
    letter-spacing: var(--primary-letter-spacing);
    cursor: pointer;
}

.button-filters-all:hover,
.button-filters-all:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.button-filters-sites:hover,
.button-filters-sites:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.button-filters-programs:hover,
.button-filters-programs:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.button-filters-design:hover,
.button-filters-design:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.button-filters-marketing:hover,
.button-filters-marketing:focus {
    color: #FFFFFF;
    background: #2196F3;
}





.portfolio {

    background: #E5E5E5;
}

.conteyner-portfolio-poster {
    background: #FFFFFF;
}

.list {
    list-style: none;
}

.portfolio-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}

.portfolio-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
}

.menu-nav-list {
    list-style: none;
}